echo node_modules/ > .gitignore
echo bin/ >> .gitignore
echo obj/ >> .gitignore
echo .vs/ >> .gitignore
echo .vscode/ >> .gitignore
echo .env >> .gitignore
echo computerized_sports_course-main/ >> .gitignore
echo computerized_sports_course_server1/ >> .gitignore
